/***----[style.css]------------***/

#Up {
  font-size: 7px;
  width: 20px;
  height: 12px;
  float: right;
  margin-right: 52px;
  background-color: #dddddd;
  border: none;
  border-bottom: 1px solid #bababa;
}

#Up:hover {
  background-color: #bababa;
}

#Up:active {
  outline: none;
  border: none;
}

#Up:focus {
  outline: 0;
}

#Down {
  font-size: 7px;
  width: 20px;
  height: 12px;
  float: right;
  margin-right: 52px;
  background-color: #dddddd;
  border: none;
  border-bottom: 1px solid #bababa;
}

#Down:hover {
  background-color: #bababa;
}

#Down:active {
  outline: none;
  border: none;
}

#Down:focus {
  outline: 0;
}

#Up:hover {
  background-color: #bababa;
}