.title {
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 26px;
    text-align: center;
}

/* Style for input fields */
input[type=number] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Style for container */
.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.title_container {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
}

#f1 {
    padding: 16px;
}

#f2 {
    padding: 15px;
}

#f3 {
    padding: 11px;
}


/* .converter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* .input-field {
    margin-right: 110px;
} */