html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;
}

tr{ }

td{
  padding-left: 20px;
  padding-right: 20px;
  padding-top:  10px;
  padding-bottom: 10px;

  border: 1px solid;
  border-color: navy;
  text-align: center;
}
