.title {
    font-size: 26px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: white;
}

input[type=number] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: white;
}

input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: white;
}

label {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

button {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: lightgray;
}

button:hover {
    background-color: lightslategrey
}