
#count_minus {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Courier New', monospace;
    font-size: 24px;
    padding: 3px 6px;
}

#count_plus {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Courier New', monospace;
    font-size: 24px;
    padding: 3px 6px;
}